@import "../../Utils/Colors.scss";

.gis-signup {
  height: 100vh;
  .signup-container {
    background: url("../../Assets/material_bg.svg") no-repeat left bottom;
    background-color: $theme-blue;
    background-size: cover;
    height: 100%;
    .signup-message-container {
      z-index: 20;
      .signup-message-grid {
        background-color: $theme-blue-light;
        height: 80vh;
        .message-grid-container {
          height: 100%;
        }
      }
    }
    .signup-form-grid {
      height: 80vh;
      .signup-form {
        height: calc(100% - 50px);
        .signup-form-container {
          height: calc(100% - 40px);
          margin-left: -5px;
          padding: 20px 30px;
          .signup-header {
            &:after {
              border-bottom: 4px solid $theme-blue;
              display: block;
              content: "";
              margin-top: 10px;
              position: absolute;
              width: 40px;
            }
          }
          .login-link {
            color: $theme-blue;
            font-family: Roboto;
            text-decoration: none;
          }
          .signup-button {
            min-width: 105px;
            .button-icon {
              font-size: 20px;
              margin-left: 5px;
            }
            .button-progress {
              color: $white;
            }
          }
          .signup-error-message {
            background-color: transparent;
            border: 2px solid $red;
            box-shadow: none;
            color: $red;
            margin-top: 10px;
            max-height: 20px;
            line-height: 6px;
          }
        }
      }
    }
  }
}
