@import "../../Utils/Colors.scss";

.gis-add-role {
  padding: 15px;
  .form-header {
    margin: 0px 15px 30px 15px;
    padding-top: 15px;
    &:after {
      border-bottom: 4px solid $theme-blue;
      display: block;
      content: "";
      margin-top: 10px;
      position: absolute;
      width: 40px;
    }
  }
}
