@import "../../../../Utils/Colors.scss";

.gis-rating {
  min-height: 160px;
  .gis-rating-container {
    .rating-logo-paper {
      border-radius: 50%;
      .rating-logo {
        height: 80px;
        width: 80px;
      }
    }
    .social-logo-paper {
      border-radius: 50%;
      height: 80px;
      width: 80px;
      .logo-container {
        height: 100%;
        padding-right: 10px;
        .logo-avatar {
          height: 30px;
          width: 30px;
        }
      }
    }
    .rating-text {
      margin-bottom: 0;
      &.rating-label {
        color: $white;
        font-weight: 500;
      }
      &.rating-info {
        font-weight: 700;
      }
    }
  }
}
