@import "../../../../Utils/Colors.scss";

.gis-app-menu {
  min-height: 100vh;
  .menu-user-content {
    align-items: flex-start;
    background-color: $theme-blue;
    min-height: 128px;
    .user-name {
      span, p {
        color: $white;
      }
    }
  }
  .app-name-container {
    background-color: $theme-blue;
    .app-name {
      span {
        color: $white;
        white-space: nowrap;
      }
    }
  }
  .menu-item {
    cursor: pointer;
    &.collapse-item {
      padding-left: 35px;
    }
  }
}
