@import "../../../../Utils/Colors.scss";

.gis-vehicle-detail {
  background-color: $grey-pale;
  padding: 15px;
  .form-container {
    padding: 10px;
  }
  .input-adornment {
    p {
      width: 50px;
    }
  }
}
