@import "../../Utils/Colors.scss";

.ui-app {
  .app-base-background {
    background-color: $theme-blue;
    top: 0;
    left: 0;
    min-height: 176px;
    min-width: 100%;
    position: fixed;
  }
  .app-container {
    margin: 25px;
    height: calc(100% - 118px);
    position: relative;
  }
  .app-item {
    max-height: 100vh;
    overflow: auto;
    z-index: 1;
  }
  .app-success-bar {
    background-color: $green-light;
    .message {
      font-size: 16px;
      text-transform: uppercase;
    }
  }
  .app-error-bar {
    background-color: $red;
    .message {
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}
