@import "../../../../Utils/Colors.scss";

.gis-home-header {
  box-shadow: none !important;
  background-color: transparent !important;
  top: 30px !important;
  .gis-logo {
    height: 50px;
  }
  .home-toolbar {
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    min-height: 75px;
  }
  .home-link {
    text-decoration: none;
    .home-link-button {
      color: $white;
      font-weight: 500;
    }
  }
}
