.gis-contact {
  min-height: 100%;
  .contact-us-container {
    .contact-us-image {
      max-width: 100%;
    }
    .contact-us-title {
      color: #ffffff;
      margin-top: 20vh;
      text-align: center;
    }
    .contact-label {
      color: #ffffff;
    }
    .contact-us-text {
      color: #ffffff;
      text-align: center;
    }
    .contact-divider {
      margin: 15px 0;
    }
    .contact-chip {
      margin: 5px;
    }
  }
  .contact-us-footer {
    padding: 25px 0;
    background-color: #f4f5f7;
    min-height: 150px;
    min-width: 100vw;
  }
}
