@import "../../../../Utils/Colors.scss";

.gis-tenant-form {
  background-color: $grey-pale;
  min-height: calc(100% - 108px);
  padding: 10px 0;
  .tenant-form {
    padding: 10px;
    .submit-button {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}
