@import "../../../../Utils/Colors.scss";

.gis-tenant-form {
  background-color: $grey-pale;
  padding: 10px 0;
  .tenant-form {
    margin: 100px 0;
    padding: 10px;
    .submit-button {
      margin-top: 10px;
      margin-right: 10px;
    }
  }
}
