$theme-blue: #2196f3;
$theme-blue-light: #a7ffeb;
$white: #ffffff;
$pink: #ec407a;
$purple: #9c27b0;
$yellow: #ff9800;
$green-dark: #009688;
$green-light: #8bc34a;
$grey-light: #ababab;
$grey-pale: #f0f0f0;
