@import "../../Utils/Colors.scss";

.gis-quotation {
  .quotation-head-container {
    padding: 15px;
    margin-bottom: 20px;
  }
  .page-header {
    margin-bottom: 30px;
    &:after {
      border-bottom: 4px solid $theme-blue;
      display: block;
      content: "";
      margin-top: 10px;
      position: absolute;
      width: 40px;
    }
  }
  .quotation-plan-card {
    position: relative;
    .plan-image {
      background-repeat: round;
      background-position: unset;
      height: 0;
      padding-top: 60.25%;
    }
    .discount-button {
      position: absolute;
      right: 10px;
      top: 10px;
    }
    .card-content {
      position: relative;
      .cart-button {
        position: absolute;
        right: 20px;
        top: -20px;
      }
    }
  }
}
