.gis-service {
  min-height: 100vh;
  .service-head-title {
    color: #ffffff;
    margin-top: 20vh;
  }
  .service-head-text {
    color: #ffffff;
  }
  .service-container {
    margin-bottom: 2vh;
  }
  .service-paper {
    height: 190px;
    text-align: center;
    .service-items {
      min-height: 100%;
      .service-icon {
        color: #3f51b5;
        font-size: 95px;
      }
      .service-label {
        font-weight: 700;
      }
    }
  }
}
