@import "../../Utils/Colors.scss";

.gis-user-profile {
  padding: 20px;
  .image-container {
    position: relative;
    .user-image {
      height: 200px;
      width: 200px;
    }
    .upload-image {
      background-color: $black;
      bottom: 0;
      cursor: pointer;
      opacity: 0.6;
      position: absolute;
      left: 0;
      .upload-label {
        align-items: center;
        color: $white;
        display: flex;
        margin: 15px 0;
      }
      .upload-icon {
        color: $white;
        font-size: 14px;
      }
    }
  }
}
